@charset "UTF-8";
/* CSS Document */

html. body {
	height: 100%;
	font-family: sans-serif;
}



@media only screen and (min-width: 0px) {
	.limiter {
	max-width: 1080px;
	}
	
}

@media only screen and (min-width: 2000px) {
	.limiter {
	max-width: 1200px;
	}

}

.limiter {
	width: 100%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

a:link {
	outline: none;
    text-decoration: none;
	color: #000000;
}

a:visited {
	outline: none;
    text-decoration: none;
	color:#000000;
}

a:hover {
	outline: none;
    text-decoration: none;
}

a:active {
	outline: none;
    text-decoration: none;
	color:#000;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}


/* ----------------------------------------------- navbar */ 

@media only screen and (min-width: 0px) {
	.headerimage {
	margin-left: 10px;
}
.navbar-default {
	height: 100%;	
}
	
}

@media only screen and (min-width: 768px) {
	.navbar-default {
	height: 20px;	
}
}

@media only screen and (min-width: 1080px) {
	.headerimage {
	margin-left: 0px;
}


}

.headerimage {
	float: left;
}

.headerimage a img {
	position: relative;
	top: 10px;
}

.navbar {
	background-color: #fff;
	border: none;
}

.navbar-default {
	background: #4d738a;
	width: 100%;
	margin: 0;		
}



.hb {
	top: 5px;
	position: relative;
	height: 20px;
	width: 1px;
	background: #fff;
}

.header_text {
	position: relative;
	top: 42px;
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: .5px;
}


#mainnav {
	padding-top: 10px;
	padding-bottom: 10px;
    list-style-type: none;
    text-align: justify;
    letter-spacing: 2px;
    padding-left: 10px;
	padding-right: 10px;
}

#mainnav li {
    display: inline-block;
	  width: 16%;
	  border-right: solid 1px white;
	  text-align: center;
}

#mainnav li:last-child {
	border-right: 0;
}

#mainnav .stretch {
    display: inline-block;
    width: 100%;
   
}



#mainnav li a{
	position: relative;
	letter-spacing: 1.5px;
	font-size: 13px;
	color: #fff;
	font-weight: 200;
	text-align: justify;
	text-transform: capitalize;
	-ms-transition:color .6s ease-in-out;
	-webkit-transition: color  .6s ease-in-out;
	-moz-transition: color  .6s ease-in-out;
	transition: color .6s ease-in-out;
}

#mainnav li a:hover {
	color: #cf9f51;
	}

#collapse {
	border: none;
}

#collapse ul li a{
	border: none;
	text-align: center;
	color: #fff;
}


#mininav h3{
	color: #fff;
	font-weight: 200;
	letter-spacing: 1px;
}


/* ----------------------------------------------- landing */ 
@media only screen and (min-width: 0px) {
	.header_text {
		display: none;
		
	}
	.heading-1 {
		font-size: 40px;
	}
	.heading-2 {
		font-size: 14px;
	}
}

@media only screen and (min-width: 600px) {
	.header_text {
		display: block;

	}
	.heading-1 {
		font-size: 50px;
	}
	.heading-2 {
		font-size: 30px;
	}
}

.landing {
	position: relative;
	width: 100%;
	background: url(images/landing.jpg) no-repeat  center top;
	background-size: cover;
}


.landing-menu {
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	top: 30%;
	background: rgba(250, 250, 250, .7);
	padding-top: 30px;
	padding-bottom: 20px;
}

.heading-1 {
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #555;
	width: 100%;
	letter-spacing: 5px;
}

.heading-2 {
	font-weight: 500;
	color: #555;
	letter-spacing: 2px;
	width: 30%;
	font-size: 12px;
	margin: 0 auto;
	width: 80%;
	min-width: 290px;
	max-width: 600px;
}



.heading-1 hr {
	max-width: ;
	min-width: 50px;
	width: 10%;
	border: solid 1px;
}


/* ----------------------------------------------- footer */ 


.footer { 
	text-align: center;
	color: #afafaf;
	padding: 18px;
	right: 0;
	left: 0;
	margin: 0 auto;
}







/* --------------------------------------------------------------------------------------------------- about page  */ 

@media only screen and (min-width: 0px) {
.about-header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: url(images/about_header.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
}



.about-col {
	display: inline-block;
	display: block;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 0;
	width: 100%;
}


.right {
	display: none;
	float: 0;
}

.left {

	float: 0;
	overflow: hidden;
	}


.about-text {
	margin-top: 30px;
	color: #555;
	text-align: justify;
	padding: 15px;
	font-size: 15px;
}

.right-img {
	padding: 20px;
}

.left img {
	width: 100%;
}


.right img {
	width: 100%;
}


}


@media only screen and (min-width: 760px) {
.about-header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: url(images/about_header.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
	text-shadow: 2px 2px 10px #000;
}



.about-col {
	display: inline-block;
	display: block;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 0;
	width: 50%;
}


.right {
	float: right;
}

.left {
	float: left;
	overflow: hidden;
	}


.about-text {
	color: #555;
	text-align: justify;
	padding: 40px 30px 30px 30px;
	font-size: 15px;
}

.right-img {
	padding: 30px 0 0 30px;
}

.left img {
	width: 100%;
}


.right img {
	width: 100%;
}


}
@media only screen and (min-width: 2000px) {
.about-text {
	padding: 110px 30px 30px 30px;
}
}


/* --------------------------------------------------------------------------------------------------- services page  */

@media only screen and (min-width: 0px) {
.services_left {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	right: 0;
	left: 0;
	text-align: center;

}
.services_left img{
	width: 50%;
	max-width: 600px;
	padding-top: 50px;
	
}
	.services_right {
	position: relative;
	background: #fff; 
	width: 100%;
	text-align: left;
	font-size: 14px;
}

.right-services-text {
	position: relative;
	min-width: 280px;
	max-width: 600px;
	top: 0;
	width: 100%;
	margin: 0 auto;
	padding: 30px;
	right: 0;
	left: 0;
	color: #555;
	font-weight: 400;
}

.services_row {
	position: relative;
	width: 100%;
	background: url(images/services_3rdcol.jpg) center center;
	background-size: cover;
	color: #fff;
	z-index: -1;
}



.services_row::after {
	width: 100%;
	content: "";
    background: rgba(255, 255, 255, .8);
    position: absolute;
   	right: 0;
   	left: 0;
   	bottom: 0;
   	top: 0;
    }


.text-col {
	position: relative;
	width: 100%;
	text-align: left;
	display: block;
	height: auto;
	font-weight: 400;
}


.text-box {
	position: relative;
	min-width: 280px;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	right: 0;
	top: 0;
	font-size: 14px;
	color: #555;
	padding: 30px;
	font-weight: 400;
}
}

@media only screen and (min-width: 1100px) {
.services_left {
	float: left;
	width: 50%;
	height: 400px;
	overflow: hidden;

}
.services_left img{
	width: 380px;
	padding-top: 0;
	margin-left: 30%;
	}

.services_right {
	position: relative;
	height: 300px;
	background: #fff; 
	width: 50%;
	text-align: left;
	font-size: 14px;
	color: #afafaf;
	float: left;
}

.right-services-text {
	position: absolute;
	min-width: 280px;
	max-width: 600px;
	top: 70%;
	width: 95%;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 100px;
}

.services_row {
	position: relative;
	width: 100%;
	background: url(images/services_3rdcol.jpg) center top;
	background-size: cover;
	color: #fff;
	z-index: -1;
	height: 300px;
}



.services_row::after {
	width: 50%;
	content: "";
    background: rgba(255, 255, 255, .8);
    position: absolute;
   	right: 0;
   	left: 0;
   	bottom: 0;
   	top: 0;
    }


.text-col {
	position: relative;
	width: 50%;
	text-align: right;
	display: block;
	height: 100%;
}


.text-box {
	position:absolute;
	min-width: 280px;
	max-width: 600px;
	width: 90%;
	margin-right: 40px;
	z-index: 1;
	right: 0;
	top: 50%;
	font-size: 14px;
	color: #555;
}
}



.landing-services {
	position: relative;
	width: 100%;
	background: url(images/services_landing.jpg) no-repeat center top;
	background-size: cover;
	z-index: -1;
}




.landing-menu-services {
	width: 100%;
	top: 50%;
	text-align: left;
	padding: 50px 0 50px 0;
}

.heading-services-1 {
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	font-size: 40px;
	margin-left: 10px;
	z-index: 1;
	text-align: center;
}


.container {
	margin: 0;
	padding: 0;
	width: 100%;

}

.container .col{
	display: inline-block;
	float: left;
	}

@media only screen and (min-width: 2000px) {
	.services_left img{
	margin-left: 50%;
	}
}


/* --------------------------------------------------------------------------------------------------- newsroom  */


.vidWrapper {
	position: relative;
	padding-bottom: 50%;
	padding-top: 25px;
	height: 0;
	text-align: center;
	margin: 0 auto;
}

.vidWrapper iframe{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 70%;
	height: 70%;
	min-width: 280px;
	min-height: 200px;
	margin: 0 auto;
}


.video hr {
	width: 50%;
}

.video h2 {
	position: relative;
	text-transform: uppercase;
	font-weight: 200;
	text-align: left;
	letter-spacing: 2px;
	text-align: center;
	font-size: 20px;
}

.video {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.vidinfo {
	width: 50%;
	min-width: 280px;
	text-align: center;
	margin: 0 auto;
}

.landing-newsroom{
	position: relative;
	width: 100%;
	background: url(images/newsroom_header.jpg) no-repeat center top;
	background-size: cover;
	z-index: -1;
	padding-top: 50px;
	padding-bottom: 50px;
}

.heading-newsroom-1 {
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	font-size: 40px;
	margin-left: 10px;
	z-index: 1;
	text-align: center;
	text-shadow: 2px 2px 10px #000;
}

.more {
	cursor: pointer;
}

.showLess {
	cursor: pointer;
}
/* --------------------------------------------------------------------------------------------------- resources  */

@media only screen and (min-width: 0px) {
.landing-resources{
	position: relative;
	width: 100%;
	background: url(images/resources_header.jpg) no-repeat center bottom;
	background-size: cover;
	z-index: -1;
	padding-top: 50px;
	padding-bottom: 50px;
}

.heading-resources-1 {
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	font-size: 40px;
	margin-left: 10px;
	z-index: 1;
	text-align: center;
	text-shadow: 2px 2px 10px #000;
}


.resource-row {
	position: relative;
	width: 100%;
}

.circle-img {
	position: relative;
	width: 30%;
	padding-bottom: 30%;
	margin-left: 2%;
	float: 0;
	text-align: center;
	background: #555;
	border-radius: 50%;
	margin: 0 auto;
	}

.resource-link h2{
	text-align: center;
	}

.resource-link {
	position: relative;
	top: 0px;
	padding-top: 4%;
	padding-left: 0;
	width: 100%;
	float: right;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
}

.resource-link a{
	color: #a6a6a6;
	}

}

@media only screen and (min-width: 768px) {
.landing-resources{
	position: relative;
	width: 100%;
	background: url(images/resources_header.jpg) no-repeat center bottom;
	background-size: cover;
	z-index: -1;
	padding-top: 50px;
	padding-bottom: 50px;
}

.heading-resources-1 {
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	font-size: 40px;
	margin-left: 10px;
	z-index: 1;
	text-align: center;
	text-shadow: 2px 2px 10px #000;
}


.resource-row {
	position: relative;
	width: 100%;
}

.circle-img {
	position: relative;
	width: 30%;
	padding-bottom: 30%;
	margin-left: 2%;
	float: left;
	background: #555;
	border-radius: 50%;
}

.resource-link h2{
	text-align: left;
	}

.resource-link {
	position: relative;
	top: 0px;
	padding-top: 4%;
	color: #555;
	padding-left: 30px;
	width: 68%;
	float: right;
	text-align: left;
	padding-right: 10px;
	font-width: 400;
}

.resource-link a{
	color: #a6a6a6;
	}


}

.circle-img-1 {
	background: url(images/circle_1.jpg) no-repeat center center;
	background-size: cover;
}

.circle-img-2 {
	background: url(images/circle_2.jpg) no-repeat center center;
	background-size: cover;
}

.circle-img-3 {
	background: url(images/circle_3.jpg) no-repeat center center;
	background-size: cover;
}

.circle-img-4 {
	background: url(images/circle_4.jpg) no-repeat center center;
	background-size: cover;
}
.circle-img-5 {
	background: url(images/circle_5.jpg) no-repeat center center;
	background-size: cover;
}
.circle-img-6 {
	background: url(images/circle_6.jpg) no-repeat center center;
	background-size: cover;
}
.circle-img-7 {
	background: url(images/circle_7.jpg) no-repeat center center;
	background-size: cover;
}

/* --------------------------------------------------------------------------------------------------- contact  */

.contact-menu {
	position: absolute;
	top: 50px;
	width: 100%;
}

.contact-contain {
	width: 100%;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	text-align: center;
}

.contact-contain h1 {
	color: #555;
	margin: 0;
	right: 0;
	left: 0;
	font-weight: 200;
	font-size: 40px;
	letter-spacing: 3px;
	color: #fff;
	text-shadow: 2px 2px 10px rgba(20, 20, 20, .8);
	margin-bottom: 50px;
	}

.info-contain {
	color: #555;
	min-width: 280px;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background: rgba(250, 250, 250, .8);
}


.contact { 
	position: relative;
	width: 100%;
	background: url(images/landing_contact.jpg) no-repeat center top;
	background-size: cover;
}


.contact-contain hr {
	width: 30%;
	border-color: #afafaf;
	max-width: 400px;
}


.info-contain h2 {
	font-size: 20px;
}

.info-contain li {
	font-weight: 200;
}

/* -------------------------------------------------------------- dev */ 


@media only screen and (min-width: 0px) {
.dev-header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: url(images/dev_header.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
	text-shadow: 2px 2px 10px #000;
}



.dev-col {
	display: inline-block;
	display: block;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 0;
	width: 100%;
	position: relative;
}


.dev-right {
	float: 0;
}

.dev-left {
	float: left;
	overflow: hidden;
	}


.dev-text {
	position: relative;
	color: #555;
	text-align: justify;
	margin-top: 30px;
	padding: 30px;
	font-size: 15px;
}

.left-img {
	padding: 30px 30px 30px 30px;
}

.dev-left img {
	width: 100%;
}


.dev-right img {
	width: 100%;
}

.pos-right {
	position: absolute;
	left: 0;
	bottom: 0;
}

}


@media only screen and (min-width: 760px) {
.dev-header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: url(images/dev_header.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
	text-shadow: 2px 2px 10px #000;
}



.dev-col {
	display: inline-block;
	display: block;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 0;
	width: 50%;
	position: relative;
}


.dev-right {

	float: right;

}

.dev-left {
	float: left;
	overflow: hidden;
	}


.dev-text {
	position: relative;
	color: #555;
	text-align: justify;
	margin-top: 30px;
	padding: 30px;
	font-size: 15px;
}

.left-img {
	padding: 30px 20px 0px 0px;
}

.dev-left img {
	width: 100%;
}


.dev-right img {
	width: 100%;
}

.pos-right {
	position: absolute;
	left: 0;
	bottom: 0;
}


}












