<div class="row">
    <div class="limiter">
      <div class="resource-row">
        <div class="circle-img circle-img-1" style="background-image:url('[[+article-image]]')"></div>
        <div class="resource-link"> 
          <h2>[[+article-title]]</h2>
          <hr>
          [[+article-teaser]]
          [[+article-content:notempty=`<p><div class="more">read more</div></p>
           <div class="hiddenP">
          [[+article-content]]
         
          <div class="showLess">show less</div>
          </div>`]]

        </div>
      </div>
  </div>
</div>



<br>
<div class="limiter"><hr></div>
<br>
