<div class="row">
    <div id="nav">
      <div class="limiter">
        <div class="navbar logobar">
          <div class="headerimage">
            <a href="index.html"><img  src="images/header_logo.png" width="180"  alt=""/></a> 
          </div>
          <div class="header_text pull-right" >Your business partner for Brazilian expansion</div>
        </div>
      </div>
      <nav class="navbar navbar-default navbar-static-top "  role="navigation">
        
        <div class="limiter">
          <!-- hidden nav button --> 
          <div class="navbar-header">
           
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            
            
          </div>


          <!-- Main nav buttons -->

            [[Wayfinder? 
                &level=`1`
                &startId=`0`
                &innerTpl=`nav-innner`
                &outerTpl=`nav-outer-main`
                &sortBy=`menuindex`
                ]]

          <!-- Mini nav buttons -->

          <div class="collapse navbar-collapse" id="collapse">
            

            [[Wayfinder? 
                &level=`1`
                &startId=`0`
                &innerTpl=`nav-innner`
                &outerTpl=`nav-outer-mobile`
                &sortBy=`menuindex`
                ]]

          </div>
        </div>
      </nav>         
    </div>
  </div>