[[$doc_head]]

<body>

<div class="container-fluid">

    <!-- row 1: navigation -->
    [[$header]] 




  <div class="row">
     <div class="about-header" style="background-image:url('[[*background-image]]')">
        <div class="header-text wow fadeInLeft  " data-wow-delay=".2s">[[*pagetitle]]</div> 
    </div>
  </div>


<div class="row">
  <div class="limiter">
      <div class="about-col left">
        <div class="about-text">
          [[*content]]
        </div>
        <img src="[[*image-left]]">
      </div>
      <div class="about-col right">
          <img class="right-img" src="[[*image-right]]">
      </div>
  </div>
</div>






[[$footer]]



</div>

<!-- javascript !-->

<script src="js/bootstrap.min.js"></script>
 <script src="js/wow.js"></script>
 <script src="js/main.js"></script>

  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
  
  </script>
<script>


$(".right-img").load(function() {

onResize = function() { 

  
 var height = document.getElementsByClassName('right');
  var rightHeight = (height[0].offsetHeight)
  if ($(window).width() > 760){ 
    $(".left").css("height",rightHeight);
    }
    else {
      $(".left").css("height", "100%");
    }


  }
  $(document).ready(onResize);
      $(window).bind('resize', onResize);  

});


</script>
</body>
</html>
