[[$doc_head]]

<body>

<div class="container-fluid">

    <!-- row 1: navigation -->
    [[$header]]

  <div class="row">

    <div class="contact">

      <div class="contact-menu  wow slideInLeft">
          <div class="contact-contain wow fadeInLeft  " data-wow-delay=".5s">
            <h1>[[*pagetitle]]</h1>
                                                     

         

          <ul class="info-contain wow fadeInLeft  " data-wow-delay=".8s">
          <hr>
             <li><h2>Genesis Investimentos</h2> </li>
              <li>207 Main St. <br>Royal, IA  51357</li>
             <li>E: matthew@investgenesis.com</li>

             <li> 712.339.0831  US</li>
              <li>(55) 61.9877.9956  Brasil</li>



          </ul>




             </div>
          </div>
      </div>
    </div>

[[$footer]]


</div>

<!-- javascript !-->

<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/main.js"></script>

  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
  
  </script>

</body>
</html>
