[[$doc_head]]

<body>

<div class="container-fluid">

    <!-- row 1: navigation -->
    [[$header]]




  <div class="row">
     <div class="dev-header" style="background-imag:url('[[*background-image]]')">
        <div class="header-text wow fadeInLeft  " data-wow-delay=".2s">[[*pagetitle]]</div> 
    </div>
  </div>


<div class="row">
  <div class="limiter">
   <div class="dev-col dev-left">
          <img class="left-img" src="[[*image-left]]">
      </div>
      <div class="dev-col dev-right">
        <div class="dev-text">
          [[*content]]
        </div>
        <img class="pos-right hidden-xs" src="[[*image-right]]">
      </div>
     
  </div>
</div>






[[$footer]]



</div>

<!-- javascript !-->

<script src="js/bootstrap.min.js"></script>
 <script src="js/wow.js"></script>
  <script src="js/main.js"></script>
  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
  
  </script>
<script>
onResize = function() { 

  
 var height = document.getElementsByClassName('dev-left');
  var rightHeight = ((height[0].offsetHeight))
  var textTop = (rightHeight/3-200)
  if ($(window).width() > 990) {
    $('.dev-text').css('top', textTop)
  }
  else {
    $('.dev-text').css('top', 'auto')
  }
 
  if ($(window).width() > 760){ 
     
    $(".dev-right").css("height",rightHeight);
    }
    else {
      $(".dev-right").css("height", "100%");
    }


  }
  $(document).ready(onResize);
      $(window).bind('resize', onResize);  

$(".left-img").load(function() {

onResize = function() { 

  
 var height = document.getElementsByClassName('dev-left');
  var rightHeight = ((height[0].offsetHeight))
  var textTop = (rightHeight/3-200)
     if ($(window).width() > 990) {
    $('.dev-text').css('top', textTop)
  }
  else {
    $('.dev-text').css('top', 'auto')
  }
  if ($(window).width() > 760){ 
    $(".dev-right").css("height",rightHeight);
    }
    else {
      $(".dev-right").css("height", "100%");
    }


  }
  $(document).ready(onResize);
      $(window).bind('resize', onResize);  

});
</script>
</body>
</html>
