[[$doc_head]]

<body>

  <div class="container-fluid">

   <!-- row 1: navigation -->
   [[$header]] 

  <section class="row">
    <div class="landing">
      <div class="landing-menu wow slideInLeft">

        <div class="heading-2 wow fadeInLeft " data-wow-delay=".8s">
          [[*content]]
          <hr>
        </div>

      </div>
    </div>
  </section>

  [[$footer]]


</div>

<!-- javascript !-->
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/main.js"></script>

<script>
wow = new WOW(
{
  animateClass: 'animated',
  offset:       100
}
);
wow.init();

</script>
<script>
$(document).ready(function() {
  onResize = function() { 
   if( $(window).height() > 700 ) {
    var winHeight = ($(window).height()-205);
    $('.landing').css("height", winHeight);



  }
  else {
    $('.landing').css("height", "600px");
  }
  var menu = document.getElementsByClassName('landing-menu');
  var menuElement = (((menu[0].offsetHeight)/2)-(menu[0].offsetHeight));
  $(".landing-menu").css("margin-top", menuElement);
}


$(document).ready(onResize);
$(window).bind('resize', onResize);  
});

</script>
</body>
</html>
