[[$doc_head]]

<body>

<div class="container-fluid">

    <!-- row 1: navigation -->
    [[$header]]


<div class="row">
    <div class="landing-newsroom" style="background-image:url('[[*background-image]]')">
    <div class="limiter">
          <div class="heading-resources-1  wow fadeInLeft  " data-wow-delay=".2s">
          [[*pagetitle]]
          </div>
    </div>
  </div>
</div>
<br>
<br>

[[!getImageList?
    &tvname=`articles`
    &tpl=`article`
  ]]


[[$footer]]



</div>

<!-- javascript !-->

<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/main.js"></script>
  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
  
  </script>

</body>
</html>
