[[$doc_head]]

<body class="services">

<div class="container-fluid">

    <!-- row 1: navigation -->
    [[$header]] 


<div class="row">
    <div class="landing-services" style="background-imag:url('[[*background-image]]')">
    <div class="limiter">
      <div class="landing-menu-services">
          <div class="heading-services-1 wow fadeInLeft  " data-wow-delay=".2s">
          [[*pagetitle]]
          </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="services_left col"><img src="[[*image-left]]"></div>
    <div class="services_right col"><div class="right-services-text">[[*content]]</div></div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="services_row"> 
     <div class="text-col">
      <div class="text-box">

         [[*second-content]]
        
        </div>

      </div>
    </div>
  </div>
</div>

[[$footer]]


</div>

<!-- javascript !-->
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/main.js"></script>
  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();

    $(document).ready(function() {
    onResize = function() { 
    if( $(window).width() > 1100 ) {
      var menu = document.getElementsByClassName('right-services-text');
      var menuElement = (((menu[0].offsetHeight)/2)-(menu[0].offsetHeight)-20);
      $(".right-services-text").css("margin-top", menuElement);

      var menu = document.getElementsByClassName('text-box');
      var menuElement = (((menu[0].offsetHeight)/2)-(menu[0].offsetHeight));
      $(".text-box").css("margin-top", menuElement);
   }
   else {
      $(".right-services-text").css("margin-top", "0px");
      $(".text-box").css("margin-top", "0px");
    }
}



      $(document).ready(onResize);
      $(window).bind('resize', onResize);  
  });
  
  </script>
</body>
</html>
